<!-- test_app/test.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quick Test</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #ADD8E6;
            color: black;
            text-align: center;
        }
        .flashcard {
            background-color: white;
            color: black;
            border-radius: 8px;
            padding: 20px;
            margin: 20px auto;
            width: 50%;
            text-align: left;
        }
        .button {
            font-size: 20px;
            padding: 10px 20px;
            margin: 10px;
            background-color: #2a19e3;
            color: yellow;
            border: none;
            border-radius: 8px;
            cursor: pointer;
        }
        .result {
            font-size: 20px;
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <h1>Quick Test</h1>
    <div id="score-display">Score: <span id="score">0</span></div>
    <div class="flashcard">
        <pre id="card-content">{{ current_card.question|safe }}</pre>
    </div>
    <div>
        <button id="check-answer-btn" class="button" onclick="checkAnswer()">Check answer</button>
        <button id="next-btn" class="button" onclick="nextCard()">Next</button>
    </div>
    <input type="text" autocomplete="off" id="answer-input" placeholder="Enter your answer here" style="width: 300px; padding: 10px; font-size: 16px; border-radius: 5px; border: 1px solid #ccc;">
    <div id="result" class="result"></div>

    <!-- Countdown timer -->
    <div id="timer">00:10</div>

    <script>
        const cardContent = document.getElementById('card-content');
        const answerInput = document.getElementById('answer-input');
        const checkAnsBtn = document.getElementById('check-answer-btn');
        const resultDiv = document.getElementById('result');
        const scoreDisplay = document.getElementById('score');
        const nextBtn = document.getElementById('next-btn');
        let userScore = 0;
        let questionChecked = false;

        let flashcard = {
            question: "{{ current_card.question|escapejs }}".replace(/\\n/g, '<br>'),
            answer: "{{ current_card.answer|escapejs }}",
            sideUp: "Q"
        };

        cardContent.innerHTML = flashcard.question;

        function displayScore() {
            scoreDisplay.textContent = userScore;
        }

        function checkAnswer() {
            if (!questionChecked) {
                const userAnswer = answerInput.value.trim().toLowerCase();
                const correctAnswer = flashcard.answer.trim().toLowerCase();
                if (userAnswer === correctAnswer) {
                    resultDiv.innerText = "Correct!";
                    resultDiv.style.color = "green";
                    userScore += 20;
                    displayScore();
                    questionChecked = true;
                } else {
                    resultDiv.innerText = "Incorrect!";
                    resultDiv.style.color = "red";
                }
            } else {
                resultDiv.innerText = "You've already answered this question correctly. Move on to the next question.";
            }
        }

        async function nextCard() {
            const response = await fetch('/next_card/');
            if (response.ok) {
                const data = await response.json();
                if (data.status == 'no_more_questions') {
                    nextBtn.disabled = true;
                    resultDiv.innerText = "No more questions.";
                    resultDiv.style.color = "blue";
                } else {
                    flashcard.question = data.question.replace(/\\n/g, '<br>');
                    flashcard.answer = data.answer;
                    flashcard.sideUp = "Q";
                    cardContent.innerHTML = flashcard.question;
                    answerInput.value = "";
                    resultDiv.innerText = "";
                    questionChecked = false;
                }
            }
        }

        // Countdown timer
        const timerDisplay = document.getElementById('timer');

        function startTimer(duration, display) {
            let timer = duration, minutes, seconds;
            let countdownInterval = setInterval(function () {
                minutes = parseInt(timer / 60, 10);
                seconds = parseInt(timer % 60, 10);

                minutes = minutes < 10 ? "0" + minutes : minutes;
                seconds = seconds < 10 ? "0" + seconds : seconds;

                display.textContent = minutes + ":" + seconds;

                if (--timer < 0) {
                    clearInterval(countdownInterval);
                    display.textContent = "Time's up!";
                    setTimeout(function() {
                        window.location.href = "/result_page?score=" + userScore;
                    }, 1000);
                }
            }, 1000);
        }

        window.onload = function () {
            let tenSeconds = 10,
                display = document.querySelector('#timer');
            startTimer(tenSeconds, display);
        };
    </script>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            if (window.location.pathname.includes('test')) {
                if (!performance.navigation.type || performance.navigation.type === 2) {
                    history.pushState(null, null, window.location.href);
                    window.onpopstate = function() {
                        history.go(1);
                    };
                } else {
                    // Gửi yêu cầu đến view xử lý đăng xuất khi người dùng reload trang
                    fetch("{% url 'logout' %}", {
                        method: 'POST',  // Sử dụng phương thức POST để gửi yêu cầu đến view xử lý đăng xuất
                        credentials: 'same-origin',  // Gửi cookie session cùng yêu cầu
                        headers: {
                            'X-CSRFToken': '{{ csrf_token }}'  // Gửi CSRF token cùng yêu cầu POST
                        }
                    }).then(function(response) {
                        // Sau khi xử lý đăng xuất, chuyển hướng người dùng đến trang đăng nhập
                        window.location.href = '/';
                    });
                }
            }
        });
    </script>

    <script>
<!--        // Function to set a flag in localStorage when the page is unloaded-->
<!--        window.addEventListener('beforeunload', function (event) {-->
<!--            // Check if this is the last open tab-->
<!--            if (navigator.userAgent.toLowerCase().indexOf('chrome') > -1) {-->
<!--                localStorage.setItem('lastTabClosed', Date.now());-->
<!--            } else {-->
<!--                navigator.sendBeacon('/logout/');-->
<!--            }-->
<!--        });-->

        // Function to check the flag in localStorage and logout if needed
        window.addEventListener('load', function (event) {
            // Check if this is the first tab open after closing all tabs
            const lastTabClosed = localStorage.getItem('lastTabClosed');
            if (lastTabClosed && Date.now() - lastTabClosed < 1000) {
                localStorage.removeItem('lastTabClosed');
                navigator.sendBeacon('/logout/');
            }
        });
    </script>
</body>
</html>
